.page-main {
  margin-top: 5vh;
  border: 1px solid red;
  .col-left {
    border: 1px solid black;
  }
  .col-right {
    min-height: 80vh;
    border: 1px solid black;
  }
}
.container {
  margin-top: 5vh;
}
