.add-new-task {
    input, textarea {
     min-width: 140px;
     width: 100%;
    }
    textarea {
     height: auto;
     min-height: 140px;
    }
    .due-date {
     input {
         height: 38px;
     }
 }
 }
 .button-add {
     
     margin-top: 10px;
 
     button {
         min-width: 140px;
         width: 100%;
         border: 1px solid black;
         border-radius: 10px;
         background-color: #99FF66;
     }
 }
 